body {
    background-color: #ffafcc;
}

button {
    font-size: 30px;
}

#signup {
    background-color: #bde0fe;
    color: #a2d2ff;
}

.tag {
    background-color: #ff006e;
    color: white;
    font-size: 16px;
}

/* 부모요소(section)와 자손요소(a)를 지정 */
section a {
    background-color: #cdb4db;
    color: #264653;
    font-weight: bold;
}

/* 부모요소(footer)와 자손클래스(.list)를 지정 */
footer .list {
    background-color: #e76f51;
    color: white;
    font-size: 20px;
}