.circle {
    width: 200px;
    height: 200px;
    background-color: magenta;

    /* 3초 동안 배경색 변경 */
    transition: background-color 3s;

    /* 1초 후, 3초 동안 배경색 변경 */
    /* transition: background-color 3s 1s; */

    /* 배경색은 0.5초, 테두리는 3초 동안 동시에 변경 */
    /* transition: background-color 0.5s, border-radius 3s; */
}

.circle:hover {
    background-color: aqua;
    border-radius: 50%;
}

/* 부모(section)에 마우스를 얹을 때, 자식(sqaure)가 왼쪽에서 오른쪽으로 이동하는 transition */
section .square {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    background-color: aquamarine;
    transition: 3s;
}

/* transition 은 전환 전과 후의 요소 지정자 이름이 반드시 동일해야 해야 작동함 */
section:hover .square {
    margin-left: 500px;
}

.square:nth-of-type(1) {
    transition-timing-function: ease-in;
}

.square:nth-of-type(2) {
    transition-timing-function: ease-out;
}

.square:nth-of-type(3) {
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

.square:nth-of-type(4) {
    transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}