/* rgb로 색상, 배경색 변경 */
h1 {
    color: rgb(255, 158, 250);
    background-color: rgb(66, 135, 245);
}

/* 16진수로 배경색 변경 */
body {
    background-color: #3860ff;
}

button {
    color: aquamarine;
    background-color: black;
}

p {
    color: yellow;
    background: gray;
}