img {
    /* 부모요소(body)의 전체크기(100%)를 기준으로 자식요소(img)의 각 크기(30%)만 사용 */
    width: 30%;
    /* 남은 10%의 크기는 이미지 사이의 여백으로 사용, 10% / 6% = 1.6666% */
    /* margin: 1.6666%; */
    margin: calc(10%/8);
}

nav {
    border-bottom: solid 1px;
}