img {
    /* 부모요소(body)의 전체크기(100%)를 기준으로 자식요소(img)의 각 크기(30%)만 사용 */
    width: 30%;
    /* 남은 10%의 크기는 이미지 사이의 여백으로 사용, 10% / 6% = 1.6666% */
    /* margin: 1.6666%; */
    margin: calc(10%/6);
}

nav {
    font-size: 1.5rem;
    width: 40%;
    border-bottom: solid 2px;
    margin-left: calc(10%/6);
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
}

.rem_size {
    font-size: 24px;
    width: 40%;
    border-bottom: solid 2px;
    margin-left: calc(10%/6);
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
}