h1 {
    margin: 10px auto;
    text-align: center;
}

section {
    background-color: #03045e;
    width: 80%;
    height: 800px;
    margin: 0 auto;
    border: 5px solid #03045e;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    /* 컨테이너의 중앙, 줄바꿈(상>하) */
    align-items: center;
    flex-wrap: wrap;

    /* 컨테이너의 최상단, 줄바꿈(상>하) */
    align-items: flex-start;
    flex-wrap: wrap;

    /* 컨테이너의 최하단, 줄바꿈(상>하) */
    align-items: flex-end;
    flex-wrap: wrap;
}

section div {
    width: 400px;
    height: 200px;
}

div:nth-of-type(1) {
    background-color: #ade8f4;
    font-size: 4rem;
}

div:nth-of-type(2) {
    background-color: #90e0ef;
}

div:nth-of-type(3) {
    background-color: #48cae4;
}

div:nth-of-type(4) {
    background-color: #00b4d8;
}

div:nth-of-type(5) {
    background-color: #0096c7;
}