/* CSS 스타일 리셋 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
    box-sizing: border-box;
}

body {
    font-size: .875rem;
    font-weight: 400;
	line-height: 1.714286;
    text-align: left;
}

button {
    text-transform: none;
    overflow: visible;
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.studio {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #384051;
    color: #f1f3f6;
    overflow: hidden;
}

.studio__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #000;
}

.studio__header_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.studio__header_left .list__button {
    margin-right: 20px;
}

.current__index_title {
    font-weight: 500;
}

.studio__header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.studio__header_right .course__evaluation_btn {
    cursor: pointer;
    color: #fff;
    border: 1px solid black;
    transition: all 0.15s ease-in-out;
}

.studio__header_right .course__evaluation_btn:hover {
    background-color: #313338;
    border: 1px solid transparent
}

.btn_sm {
    padding: 0.25rem 0.625rem;
    font-size: 0.75rem;
    line-height: 1.714286;
    border-radius: 3px;
}

.btn_outline-dark {
    background-color: transparent;
}

.btn {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}

.imoji_btn {
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 22px;
}

.studio__body_frame {
    display: block;
    flex: 1 0 auto;
    height: calc(100vh - 100px);
}

.studio__body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.studio__body_left {
    display: flex;
    flex-direction: column;
    flex-basis: 550px;
    background-color: #fff;
    border-right: 1px solid #ced0da;
}

.tutorial__header {
    position: sticky;
    color: #313338;
    background-color: #f7f8fa;
    padding: 0.5rem 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #e7e8ef;
}

.tutorial__body {   
    background-color: #fff;
    color: #000;
    padding: 1.875rem;
    overflow: auto;
}

.tutorial__body_firstrow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.375rem;
}

.title_1 {
    color: #6c789a;
    letter-spacing: -0.06rem;
}

#zoomController {
    display: inline-flex;
    vertical-align: middle;
    border: 1px solid #ced0da;
    border-radius: 5px;
    font-size: 0.75rem;
}

#zoomController .zoom_in {
    border-right: 1px solid #ced0da;
    padding: 1px 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#zoomController .zoom_out {
    border-left: 1px solid #ced0da;
    padding: 1px 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#zoomController .zoom_percentage {
    padding: 1px 5px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

#zoomController .zoom_in:hover {
    background-color: #313338;
    border-right: 1px solid transparent;
    border-radius: 5px 0 0 5px;
}

#zoomController .zoom_out:hover {
    background-color: #313338;
    border-left: 1px solid transparent;
    border-radius: 0 5px 5px 0;
}

#zoomController .zoom_percentage:hover {
    background-color: #313338;
    color: #ced0da;
}

.tutorial__body_title_2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e7e8ef;
}

.title_2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
}

.tutorial__body_contents {
    /* 한중일 텍스트에서 줄바꿈시 단어를 끊지 않음 */
    word-break: keep-all;
    line-height: 200%;
}

.tutorial__body_contents p {
    margin-top: 1.875rem;
    width: 100%;
}

.tutorial__body_contents_img_1 {
    margin-top: 1.875rem;
}

.tutorial__body_contents_img_1 img {
    /* vertical-align: middle;
    overflow: clip; */
    width: 490px;
    object-fit: cover;
}

.tutorial__body_contents_img_2 {
    margin-top: 1.875rem;
}

.tutorial__body_contents_img_2 img {
    /* vertical-align: middle;
    overflow: clip; */
    width: 490px;
    object-fit: cover;
}

.tutorial__footer {
    position: sticky;
    color: #313338;
    background-color: #f7f8fa;
    padding: 0.5rem 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #e7e8ef;
    border-bottom: 1px solid #e7e8ef;
}

.tutorial__footer_contents {
    color: #000;
    padding: 1.875rem;
}

.studio__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    border-top: 1px solid #000;
    background-color: #384051;
}


.studio__footer_left {
    flex: 1;
}

.studio__footer_middle {
    flex: 1;
}

.studio__footer_right {
    flex: 1;
}



.studio__footer_left nav {
    height: 50px;
}

.studio__footer_left ol {
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

li a {
    text-decoration: none;
    color: #f1f3f6;
}

li span {
    padding: 0 0.125rem 0 0.5rem;
    text-align: center;
}

.studio__footer_middle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.border_btn {
    border: 1px solid black;
    text-decoration: none;
    color: #f1f3f6;
}

.btn_normal {
    padding: 0.5rem 0.8rem;
    font-size: 0.75rem;
    line-height: 1.714286;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
}

.btn_normal:hover {
    background-color: #313338;
    border: 1px solid transparent
}

.studio__footer_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.studio__footer_right a {
    text-decoration: none;
    color: #f1f3f6;
}

.studio__body_right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.studio__body_right_header {
    height: 41px;
}

.studio__body_right_editor {
    width: 100%;
    height: 100%;
}

.tutorial__body::-webkit-scrollbar {
    width: 15px;
}

.tutorial__body::-webkit-scrollbar-thumb {
    background-color: #adb5bd;
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 15px;
}

.tutorial__body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0)
}

.studio__body_right_header {
    display: flex;
}

.studio__body_right_header-left {
    display: flex;
    justify-content: center;
    width: 130px;
    border-top: 2px solid #609ae9;
    background-color: #20232c;
    padding: 0.5rem 1.5rem 0.4375rem;
    align-items: center;
    border-radius: 3px 3px 0 0;
}

.studio__body_right_header-left a {
    text-decoration: none;
    color: #f2f3f7;
}

.studio__body_right_header-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.studio__body_right_header-right .btn_sm_2 {
    text-decoration: none;
    color: #f2f3f7;
    padding: 0.3rem 0.8rem;
    font-size: 0.75rem;
    line-height: 1.714286;
    border-radius: 3px;
    background-color: #467dc6;
    margin-right: 0.32rem;
    transition: all 0.15s ease-in-out;
}

.studio__body_right_header-right .btn_sm_2:hover {
    background-color: #467dc696;
}

.studio__body_right_header-right .btn_sm_2:nth-of-type(5) {
    margin-right: 1.3rem;
    background-color: #18bbb8;
}

.studio__body_right_header-right .btn_sm_2:nth-of-type(5):hover {
    margin-right: 1.3rem;
    background-color: #18bbb896;
}
